<div class="flex flex-col md:flex-row w-full h-screen mb-16 pb-36 md:pb-0 md:mb-0">
  <div class="w-full md:w-1/2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6223.623851916298!2d-9.201322311719759!3d38.74507785257212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1719566557666!5m2!1ses-419!2sar"
      style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
      class="w-full h-64 md:h-full">
    </iframe>
  </div>
  <div class="w-full md:w-1/2 p-4 flex flex-col justify-center items-center">
    <h6 class="text-[#29ABE2] text-md mb-2">CONTÁCTANOS</h6>
    <h2 class="text-2xl md:text-4xl font-semibold mb-4">¿Tienes preguntas?</h2>
    <h2 class="text-2xl md:text-4xl font-semibold mb-8">¡Póngase en contacto con nosotros!</h2>
    <form class="w-full max-w-lg">
      <input type="text" placeholder="Nombre completo" class="w-full p-2 mb-4 border border-gray-300 rounded-md focus:border-customBlue" />
      <input type="text" placeholder="Número de telefono" class="w-full p-2 mb-4 border border-gray-300 rounded-md focus:border-customBlue" />
      <input type="email" placeholder="Email" class="w-full p-2 mb-4 border border-gray-300 rounded-md focus:border-customBlue" />
      <input type="text" placeholder="Asunto" class="w-full p-2 mb-4 border border-gray-300 rounded-md focus:border-customBlue" />
      <textarea placeholder="Mensaje" class="w-full p-2 mb-4 border border-gray-300 rounded-md h-32 focus:border-customBlue"></textarea>
      <a class="bg-[#29ABE2] text-white block p-4 cursor-pointer rounded-md text-center">Obtener turno</a>
    </form>
  </div>
</div>
