<div class="bg-[#023047] w-full text-white">
  <div class="custom-line-full"></div>
  <div class="flex flex-col xl:flex-row justify-center py-5 md:px-16 w-full">
    <div class="bg-[#022E43] xl:basis-1/4 p-5">
      <h6 class="text-2xl my-5">
        <span class="custom-line">Contacto</span>
      </h6>
      <div class="flex gap-4 mb-5 flex-col text-md">
        <div class="flex gap-4 items-center">
          <span
            class="icon-[mdi--map-marker-radius] text-2xl"
            role="img"
            aria-hidden="true"
          ></span>
          <p>3934 SW 8TH ST SUITE 205.</p>
        </div>
        <div class="flex gap-4 items-center">
          <span
            class="icon-[mdi--phone] text-2xl"
            role="img"
            aria-hidden="true"
          ></span>
          <p>+54 3462 8033-08</p>
        </div>
        <div class="flex gap-4 items-center">
          <span
            class="icon-[uiw--mail] text-2xl"
            role="img"
            aria-hidden="true"
          ></span>
          <p>info&#64;dardental</p>
        </div>
      </div>
    </div>
    <div class="bg-[#07344B] xl:basis-1/2 p-5">
      <h6 class="text-2xl my-5">
        <span class="custom-line">Servicios</span>
      </h6>
      <ul class="list-disc ms-4">
        <li>Odontología general</li>
        <li>Odontología cosmetica</li>
        <li>Odontología restauradora</li>
        <li>Tratamiento periodontal</li>
        <li>Política de privacidad de D'Art Dental</li>
      </ul>
    </div>
    <div class="bg-[#022E43] xl:basis-1/4 p-5">
      <h6 class="text-2xl my-5">
        <span class="custom-line text-nowrap">Redes Sociales</span>
      </h6>
      <div class="flex gap-4 mb-4 items-center">
        <span
          class="icon-[logos--facebook] text-2xl"
          role="img"
          aria-hidden="true"
        ></span>
        <a href="">&#64;dartdentalmiami</a>
      </div>
      <div class="flex gap-4 items-center">
        <span
          class="icon-[skill-icons--instagram] text-2xl"
          role="img"
          aria-hidden="true"
        ></span>
        <a href="">&#64;dartdentalmiami</a>
      </div>
    </div>
  </div>
  <div class="bg-[#023040] w-full py-7 text-center">
    <p>&copy; 2024 Meichtech. Todos los derechos reservados.</p>
  </div>
</div>
