.custom-line {
  display: inline-block;
  border-bottom: 3px solid #33b9cb;
  padding-bottom: 3px;
  width: 4%;
}
.custom-line-full {
  display: inline-block;
  border-bottom: 6px solid #33b9cb;
  padding-bottom: 6px;
  width: 100%;
}
